---
const { title, description, url, image } = Astro.props;

const favicon = "https://res.cloudinary.com/onamuapp/image/upload/q_auto,w_50,h_5,fl_immutable_cache/v1723320517/Logo-Blanco-de-Onamu-Publicidad_qwowoi.webp"; // Ruta del favicon mejorada con tama침o adecuado para una mejor visualizaci칩n
const fontUrl =
  "https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-wght-normal.woff2";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{title}</title>
  <meta name="description" content={description} />

  <link rel="canonical" href={url} />
  <link rel="icon" type="image/x-icon" href={favicon} />

  <!-- Resolver el DNS y establecer una conexi칩n temprana -->
  <link rel="dns-prefetch" href="https://onamupublicidad.dev">
  <link rel="preconnect" href="https://onamupublicidad.dev" crossorigin="anonymous">

  <!-- Precarga de la fuente -->
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
  <link
    rel="preload"
    href={fontUrl}
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
    fetchpriority="high"
  />

  <meta name="application-name" content="Onamu Publicidad" />
  <meta name="msapplication-TileColor" content="#F9EBE0" />
  <meta name="msapplication-config" content="/browserconfig.xml" />

  <!-- Metadatos de Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={image} />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Onamu Publicidad" />
  <meta property="og:locale" content="es_ES" />

  <!-- Twitter Card Metadata -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
  <meta name="twitter:url" content={url} />

  <!-- Robots meta tag for SEO control -->
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

  <!-- A침adir seguridad y mejor rendimiento -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; font-src https://cdn.jsdelivr.net;"> 
  <meta name="theme-color" content="#131a26" />
</head>